@import "base";

.wrapper {
  overflow: hidden;
}

header{
  color: #f4f5fc;
}

.main-menu{
  text-align: center;
  padding: 30px 20px 0;
  background: $l-wight;
  ul{
	li{
	  display: inline-block;
	  vertical-align: middle;
	  @include respond-to(mobile){
		display: block;
		padding-bottom: 15px;
	  }
	  &:before{
		content: '.';
		color: $gray;
	  }
	  &:first-child{
		&:before{
		  display: none;
		}
	  }
	  a{
		display: inline-block;
		color: $gray;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin: 0 30px;
		@include transition(all, .25s, linear);
		img{
		  display: inline-block;
		}
		&:hover{
		  color: $green;
		}
	  }
	}
	.logo{
	  &:before{
		display: none;
	  }
	  & + li:before{
		display: none;
	  }
	}
  }
}

.header-bg{
  min-height: 685px;
  background: url("../img/hero-bg.jpg") no-repeat 50%;
  background-size: cover;
  @include respond-to(mobile){
	min-height: 250px;
  }
}

.teaser{
  padding: 115px 0;
  @include respond-to(mobile){
	padding: 20px 0;
  }
}

.teaser__i{
  text-align: center;
  width: 70%;
  margin: 0 auto;
  @include respond-to(mobile){
	width: 85%;
  }
  .teaser-icon{
	display: inline-block;
	@include sized-sprite($icons, cog-icon);
	margin-top: 28px;
  }
  .teaser-title{
	padding-top: 28px;
  }
  .teaser-text{
	margin-top: 25px;
  }
}

.product-item {
  text-align: center;
  position: relative;
  @include respond-to(mobile){
	.ba-width-1-3{
	  width: 100%;
	}
  }
  .product-item__img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	background-size: cover;
	@include respond-to(mobile){
	  display: none;
	}
  }
  .product-item__img_right{
	left: auto;
	right: 0;
  }
  .img-icon{
	display: inline-block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: 50% no-repeat;
  }
  .teaser-icon{
	display: inline-block;
	@include sized-sprite($icons, frame-icon);
	margin-top: 78px;
	@include respond-to(mobile){
	  margin-top: 40px;
	}
  }
  .teaser-icon_mech{
	@include sized-sprite($icons, mech-icon);
  }
  .teaser-icon_fork{
	@include sized-sprite($icons, front-icon);
  }
  .teaser-title{
	padding-top: 28px;
  }
  .teaser-text{
	margin-top: 25px;
	font-size: 14px;
	text-align: justify;
	padding: 0 60px;
	@include respond-to(mobile){
	  padding: 0 30px;
	}
	&:after{
	  content: ' ';
	  display: block;
	  height: 1px;
	  width: 50px;
	  background: #d7d7d7;
	  margin: 32px auto 15px;
	}
  }
  .prod-img{
	position: relative;
	background-size: cover;
	height: 200px;
	width: 100%;
	&:before{
	  content: ' ';
	  display: block;
	  position: absolute;
	  top: 0;
	  left: 50%;
	  margin-left: -10px;
	  border-left: 10px solid transparent;
	  border-right: 10px solid transparent;
	  border-top: 15px solid #fff;
	}
  }
}

.tw-slider{
  padding: 125px 0 90px;
  @include respond-to(mobile){
	padding: 40px 0 10px;
  }
  .tw-slider__i{
	width: 70%;
	margin: 0 auto;
	@include respond-to(mobile){
	  width: 85%;
	}
	.tw-item{
	  text-align: center;
	  padding: 0 40px;
	  @include respond-to(mobile){
		padding: 0;
	  }
	  .icon-tw{
		display: block;
		@include sized-sprite($icons, twitter-bird);
		margin: 0 auto 30px;
	  }
	  .tw-item__header{
		.tw-link{
		  color: #282f35;
		  @include transition(all,.25s,linear);
		  padding-bottom: 25px;
		  letter-spacing: 2px;
		  font-size: 18px;
		  font-weight: 600;
		  &:hover{
			color: $green;
		  }
		}
		span{
		  color: $l-gray;
		  font-weight: 300;
		  letter-spacing: 2px;
		  font-size: 18px;
		}
	  }
	  p{
		color: $l-gray;
		font-size: 24px;
		line-height: 1.8;
		font-weight: 300;
		margin: 25px 0 100px;
	  }
	}
  }
}

//  ba-bicycle //

.ba-bicycle{
  position: relative;
  img{
	display: block;
  }
  .ba-bicycle__overlay{
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(100,194,158,.8);
	text-align: center;
	font-size: 0;
	@include transition(all,.25s,linear);
	.icon-bike{
	  display: inline-block;
	  background: url("../img/white-bike-icon.png") no-repeat 50% 0;
	  padding-top: 40px;
	  vertical-align: middle;
	  @include transition(all,.25s,linear);
	  opacity: 0;
	  @include transform(translateY(-100px));
	}
  }
  &:hover {
	.ba-bicycle__overlay{
	  visibility: visible;
	  opacity: 1;
	}
	.icon-bike{
	  opacity: 1;
	  @include transform(translateY(0));
	}
  }
}

.shop-slide{
  .ba-width-1-3{
	@include respond-to(mobile){
	  width: 100%;
	}
  }
}

.btn-w{
  text-align: center;
  background: #2a2c43;
  padding: 70px 20px;
  .shop-btn{
	background: none;
	padding: 0 50px;
	border: 1px solid #bbb;
	letter-spacing: 3px;
	&:hover{
	  color: $green;
	  border: 1px solid $green;
	}
  }
}

//    subscription   //

.subscription{
  text-align: center;
  padding: 50px 20px;
  img{
	display: inline-block;
	width: 94px;
  }
  p {
	font-size: 24px;
	font-style: italic;
	margin: 15px 0 40px;
  }
  button{
	vertical-align: middle;
	height: 44px;
	line-height: 44px;
  }
}

//    footer   //

footer{
  padding: 100px 40px;
  background: #f7f7f7;
  font-size: 13px;
  color: $l-gray;
  line-height: 18px;
  @include respond-to(mobile){
	padding: 40px 20px;
  }
  address{
	font-style: normal;
	font-family: 'Lato', sans-serif;
	a{
	  @include transition(all,.2s,linear);
	  &:hover{
		color: $green;
	  }
	}
  }
}

.footer__i{
  width: 70%;
  margin: 0 auto;
  @include respond-to(mobile){
	width: 85%;
	.ba-width-1-3{
	  width: 100%;
	  padding-bottom: 30px}
	text-align: center;
  }
}

.social-icon{
  text-align: center;
  a{
	display: inline-block;
	margin: 0 5px;
	&:hover{
	  opacity: .7;
	}
  }
  .tw{
	@include sized-sprite($icons, twitter-icon);
  }
  .fb{
	@include sized-sprite($icons, facebook-icon);
  }
  .pt{
	@include sized-sprite($icons, pintrest-icon);
  }
}

.copyright{
  text-align: right;
  font-style: italic;
  @include respond-to(mobile){
	text-align: center;
  }
  p{
	font-family: 'Lato', sans-serif;
	font-size: 13px;
  }
	a{
	  @include transition(all,.2s,linear);
	  img{
		display: inline-block;
		width: auto;
		vertical-align: middle;
	  }
	  &:hover{
		color: $green;
	  }
	}
}